.Dockerfile
.docker-compose.yml
.env
pipeline/data/repos/
pipeline/data/raw/repos/
pipeline/data/raw/sast_*.json
pipeline/data/raw/sbom_*.json
pipeline/data/raw/sca_*.json
__pycache__/
*.pyc
venv/
.ipynb_checkpoints/
contexto_tarea3.mk